<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}eShop.com{% endblock title %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="">Sections</a>
                </li>
                <li>
                    <a href="">Trending Sections</a>
                </li>
                <li>
                    <a href="">Trending Items</a>
                </li>
            </ul>
        {% endblock sidebar %}
    </div>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>

    <div id="logout_area">
        {% block logout_area %}
        {% if user.pk != None %}
        <p>{{user}}</p>
        <a href="{% url 'login:logout' %}">Logout</a>
        {% endif %}
        {% endblock logout_area %}
    </div>
</body>
</html>