{% extends 'baseview.html' %}

{% block TITLE %}eShop Sign Up{% endblock TITLE %}

{% block BASE_SECTION_CONTENT %}

<h2>New User Sign Up</h2>

<p><i>{% if error_message %} {{ error_message }} {% endif %} </i></p>

<form action="{% url 'login:sign_up' %}" method="post">

    {% csrf_token %}

    <p><i>Please enter your details as they apply below:</i></p>

    {{form}}

    <p><button type="submit">Create User</button></p>
</form>

<p><i><a href="{% url 'login:login' %}">Already have an account? Sign in</a></i></p>

{% endblock BASE_SECTION_CONTENT %}