{% extends 'base.html' %}
{% block content %}
<div id="usr_profile_content">
    {% block usr_profile_content %}
    {% endblock usr_profile_content %}
</div>
<div id="edit user profile">
    {% block edit_user_profile %}
    <a href="{% url 'usr_profile:edit_user_profile' user.first_name %}">Edit your profile information.</a>
    {% endblock edit_user_profile %}
</div>
<div id="logout">
    {% block logout %}
    <a href="{% url 'login:logout' %}">Log Out</a>
    {% endblock logout %}
</div>
{% endblock content %}