{% extends 'base_usr_profile.html' %}

<div id="usr_profile_content">
{% block usr_profile_content %}
    <p><h1>Welcome to your profile, {{user}} {{flag}}</h1></p>

    <p><h2>Upload Profile Pic here</h2></p>

    <p>
        {{notification_count}} <a href="{% url 'usr_profile:notifications' user.first_name %}">Messages</a>
    </p>

    <ul>
        <li>
            <a href="{% url 'usr_profile:usercart' user.first_name %}">Shopping Cart</a>
        </li>

        <li>
            <a href="{% url 'usr_profile:userorders' user.first_name %}">Your Orders</a>
        </li>
    </ul>
{% endblock usr_profile_content %}
</div>