{% extends 'base_profile_template.html' %}

{% block SECTION_CONTENT %}
<p>
    <a href="{% url 'profile:orders_list' 'pending' %}">Pending Orders</a>
</p>
<p>
    <a href="{% url 'profile:orders_list' 'paid_for' %}">Orders Awaiting Delivery</a>
</p>
<p>
    <a href="{% url 'profile:orders_list' 'delivered' %}">Delivered Orders</a>
</p>

<p>
    Latest Orders

    <ol>
        {% for order in latest_orders %}
        <li>
            {{order|title}}
            status: {{order.status|title}}
        </li>
        {% endfor %}
    </ol>
</p>
{% endblock SECTION_CONTENT %}