{% extends 'base_profile_template.html' %}

{% block TITLE %}Create Order{% endblock TITLE %}

{% block SECTION_CONTENT %}
<h5>Edit your Order(s) below</h5>
<ol>
    {% for item in user.cart.items.all %}
    <li>
        {{item}}
        <form action="{% url 'profile:confirm_order' %}" method="post">

            {% csrf_token %}

            <p>
                <label for="sale_unit">Unit</label>
                <select name="sale_unit" id="sale_unit">
                    <option value="{{item.retail_unit}}, {{item.retail_unit_price}}">{{item.retail_unit}}:{{item.retail_unit_price}}</option>
                    <option value="{{item.wholesale_unit}}, {{wholesale_unit_price}}">{{item.wholesale_unit}}:{{item.wholesale_unit_price}}</option>
                </select>
            </p>

            <p>
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="quantity" value="1"/>
            </p>

            <p class="button">
                <button type="submit">Checkout</button>
            </p>

        </form>
    </li>
    {% endfor %}
</ol>

{% endblock SECTION_CONTENT %}