{% extends 'base_profile_template.html' %}

{% block SECTION_CONTENT %}
<h4>
    <p>Welcome, {{user|title}}</p>
    <p>
        <img class="Avatar secondary-content" src="{{user.profile_photo.url}}" width="100px" height="100px" />
    </p>
</h4>

<p>
    {% if user.get_shipping_address %}
    Shipping Address: {{user.get_shipping_address}}
    {% endif %}
</p>

<p>
    <a href="{% url 'profile:cart' %}">Cart
        {% if user.cart.items %}
        ({{user.cart.items.count}})
        {% else %}
        (0)
        {% endif %}
    </a>
</p>

<p>
    <a href="{% url 'profile:orders' %}">Orders</a>
</p>

<p>
    <a href="">Notifications</a>
</p>

<p>
    <a href="{% url 'profile:edit_profile' %}">Edit Profile</a>
</p>

{% endblock SECTION_CONTENT %}