{% extends 'base_profile_template.html' %}

{% block TITLE %}Upload Profile Photo{% endblock TITLE %}

{% block SECTION_CONTENT %}
<p>
    Upload profile pic in jpeg format only below
</p>

<form action="{% url 'profile:upload_profile_photo' %}" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}

    {{form}}

    <button type="submit">
        Upload
    </button>
</form>

<p>
    <a href="{% url 'profile:edit_profile' %}">Edit Other Profile Details</a>
</p>
{% endblock SECTION_CONTENT %}